<h2><center>All Animals</center></h2>
<% for animal in @animals %>

<center><p>Name: <%= animal.animal_name %></p>
<p>Species: <%= animal.species %></p>
<p>Breed: <%= animal.breed %></p>
<p>Admission Date: <%= animal.admission_date %></p>
<p>Adoption Status: <%= animal.adoption_status %></p></center>

<hr />

<% end %>