<h1> Animals</h1>

<% for animal in @animals %>

<p>Name: <%= animal.animal_name %></p>
<p>Species: <%= animal.species %></p>
<p>Breed: <%= animal.breed %></p>
<p>Admission Date: <%= animal.admission_date %></p>
<p>Adoption Status: <%= animal.adoption_status %></p>

<hr />

<% end %>